*{
  padding: 0;
  margin: 0;
  font-family: 'century gothic','sans-serif';
}
.App {
  text-align: center;  
   /* background-color: black; */
   
}
.title {
  background-color: limegreen; 
  height: 80px;  
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.title h1{
  text-shadow: 1px 0px 0px black, 1px 1px 0px black, 5px 6px 3px hsl(0, 0%, 17%);
  font-size: 55px;
  color: whitesmoke;
}
.Cuerpo {
  min-height: 450px;
  background: url('./imagenes/mapamundi-gris.png');
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  color:aliceblue;
}
