.container{
    border: 1px solid gray;
    background:  #f2f2f2a4;
    width: 80%;
    margin: 25px auto;
    padding: 0 0 20px;
    height: 300px;
}
.title{
    background-color:limegreen;
    color:black;
    margin-bottom: 20px;
}
/* .cont1{
    border: 1px solid orange;
        margin: auto;
} */
.cont2{
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;

}
.cont2 label{
    display: flex;
    justify-self: flex-end;
    padding-right: 15px;
}
.cont2 input, .cont2 select {
    display: flex;
    justify-self: flex-start;
    padding-right: 15px;
    /* width: 150px; */
    height: 20px;
    border:1px solid #bfe0e0;
    border-bottom-color: orange;
    background-color: #b4b5b5d7;
}
.inpNum{
    width: 80px;
    border-bottom-color: rgba(255, 21, 0, 0.843);
}
.inpSelCount{
    max-height: 100px; 
}
.cont2 div{
    display: flex;
}
.contError{
    height: 20px;
}
.spErr{
    color:coral;
    font-size: smaller;
    
}