.container{
    display: grid;
    grid-template-columns: 350px 1fr;
    
}
.leyenda{
    justify-self: center;
    align-self: center;
}
.leyenda h1{
    margin-bottom: 20px;
    font-size: 45px;
    text-shadow: white 1px 1px 1px, rgb(68 70 65) 6px 6px 3px;
    color:rgb(10, 10, 10);
}
.bton{
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #086825;
    border-radius: 4px;
    /* background-color: #0bd933; */
    color: #fff;
    font-size: 1rem;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 1px 3px rgba(0,0,0,.2);
    /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00)); */
    background-image: linear-gradient(rgb(13, 101, 5) 10%,#00f020 100%);
    width: 250px;
    height: 40px;
}

.bton:hover{
    /* background-color: #e97b05; */
    /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70)); */
    background-image: linear-gradient(#00f020 10%,rgb(13, 101, 5) 100%);
  }
  .bton:hover span{
    left: -60px;
    
   
  }
  .bton span{
    transition: .6s ease-in-out all;
    position: relative;
    left: 0;
    top: -18px;
    font-size: 18px;
  }
.icon{
    z-index: 2;
    display: flex;
    position: relative;
    left:80px;
    opacity:0;
   /* // color:red; */
    transition: .9s ease-in-out all;
    top: 5px;
    font-size: 18px;
}
.bton:hover .icon{
    opacity: 1;
    left: 180px;
    
}

.mundo{
    width: 300px;
    height: 305px;
    background: url('../../imagenes/mundo6.png');
    margin: 30px;
}