/* .containerNavBar{
    border: 1px solid goldenrod;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    margin:10px;
    padding:10px;
} */
.container {
   
     /* width: 100vw; */
     height: 80px;
     color: #f6f4e6;
     display: flex;
   }
 .menu {
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: absolute;
     width: 100%;
     height: 50px;  
     text-decoration: none;
     list-style-type: none;
    /* top: -2%;*/
     background: black;
     border-bottom: 2px solid lightgray;
   }
   /* .menu li{
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 130px;
    transition: all 0.2s ease-in-out;
    border: 3px limegreen solid;
    border-radius: 6px;
    padding: 3px 10px;
   }
  /* .menu li:hover{
    background: limegreen;
    color: white;

   } */
   /* .li_s {
     color:whitesmoke;
     text-decoration: none;
     font-weight: 500;
     font-size: 20px;
     display: inline-block;
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     text-shadow: 1px 1px 1px #436c43, -1px -1px 1px #485e48, -1px 1px 1px #436c43, 1px -1px 1px #485e48;
   }
   
   .li_s:hover {
     color: #fddb3a;
     text-decoration: none;
   } */
   
   .active{
     color:lime;
     text-decoration: none;
     font-size: 20px; 
     width: 150px;
     font-weight: bold;
     padding: 3px 10px;
     /* text-shadow: 1px 1px 1px #436c43, -1px -1px 1px #485e48, -1px 1px 1px #436c43, 1px -1px 1px #485e48; */
   }
   .disabled{
    text-decoration: none;
    font-weight: bold;
    /* display: inline-block; */
    width: 150px;
    /* transition: all 0.2s ease-in-out; */
    /* border: 3px limegreen solid; */
    border-radius: 6px;
    padding: 3px 10px;
    color: white;
    font-size: 20px; 

     /* //text-shadow: 1px 1px 1px #436c43, -1px -1px 1px #485e48, -1px 1px 1px #436c43, 1px -1px 1px #485e48; */
   }
   
   .disabled:hover {
    background: linear-gradient(0deg, #1ef10a, #9b999912);
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 20px; 
    padding: 3px 10px;

   }